<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<title>Graph</title>

<link rel="stylesheet" type="text/css" href="../../../../rs/resources/css/rs-all.css" />
<link rel="stylesheet" type="text/css" href="../../../../rs/lib/ext-3.3.1/resources/css/ext-all.css" />
<script src="../../../../rs/lib/ext-3.3.1/adapter/ext/ext-base-debug.js"></script>
<script src="../../../../rs/lib/ext-3.3.1/ext-all-debug.js"></script>
<script src="../../../../rs/rs-debug.js"></script>
<script src="../../../../rs/ext/rs-ext-debug.js"></script>
<script src="../../../../rs/ext/query/QueryConditionModel.js"></script>
<script src="../../../../rs/ext/query/QueryPanel.js"></script>
<script type="text/javascript" src="/rsc/rsclient/userinfo"></script>

<!-- my code -->
<script type="text/javascript" src="MyEngine.js"></script>
</head>
<body>
</body>
</html>